################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Workflow.Activities.FileHelpers/obj/Debug
